---
import Applinks from '../components/Applinks.astro';
import Pagelayout from '../layouts/Pagelayout.astro';
---

<Pagelayout title="筑波大学関連アプリ集" description='開かれた未来に関連するアプリ等を集めました。'>
	<main>
		<Applinks />
	</main>
</Pagelayout>

<style>

</style>
