---
import Comlinks from '../components/Comlinks.astro';
import Pagelayout from '../layouts/Pagelayout.astro';
---

<Pagelayout title="委員会等" description="開かれた未来を創る委員会とか">
	<main>
		<Comlinks />
	</main>
</Pagelayout>

<style>

</style>
