---
import Faqs from '../components/Faqs.astro';
import Pagelayout from '../layouts/Pagelayout.astro';
---

<Pagelayout title="困った時は" description="取り敢えずこちらをご覧ください。">
	<main>
		<Faqs />
	</main>
</Pagelayout>

<style>

</style>
