---
import Layout from '../layouts/Layout.astro';
import Toplinks from '../components/Toplinks.astro';
import Foot from '../components/Foot.astro';
---

<Layout title="ITF.関連リンク集" description="開かれた未来に関連するリンクを集めました。">
	<main>
		<Toplinks />
	</main>
	<Foot />
</Layout>

<style>

</style>
