---
import Lifelinks from '../components/Lifelinks.astro';
import Pagelayout from '../layouts/Pagelayout.astro';
---

<Pagelayout title="ITF.関連リンク集" description='開かれた未来に関連するリンクを集めました。'>
	<main>
		<Lifelinks />
	</main>
</Pagelayout>

<style>

</style>
