---
import Tulipssearchxml from '../components/Tulipssearchxml.astro';
import Pagelayout from '../layouts/Pagelayout.astro';
---

<Pagelayout title="「Tulips Search」を検索バーへ追加する" description='地味に便利'>
	<main>
        <Tulipssearchxml />
	</main>
</Pagelayout>

<style>

</style>