<div id="applinks" class="m-2 content columns is-multiline is-centered">
    <div id="twinte" class="card m-2 column is-5">
        <h2 class="title">
        Twin:te
        </h2>
        <ul>
        <li><a href="https://www.twinte.net/">公式サイト</a></li>
        <li><a href="https://apps.apple.com/app/twin-te/id1489274755">AppStore</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=net.twinte.android">Google Play</a></li>
        </ul>
        <p>
        筑波大学生向けの時間割ソフト。Twinsからのインポート機能も。
        </p>
    </div>
    <div id="eritan" class="card m-2 column is-5">
        <h2 class="title">
        えりたんBOT
        </h2>
        <ul>
        <li><a href="https://eritanbot.net/">公式サイト</a></li>
        <li><a href="https://itunes.apple.com/app/eritanbot/id865364505">AppStore</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=net.eritanbot.android">Google Play</a></li>
        </ul>
        <p>
        広大なキャンパスの地図。キャンパス交通システムやTXの時刻表も。
        </p>
    </div>
    <div id="eritan" class="card m-2 column is-5">
        <h2 class="title">
        A+つくば
        </h2>
        <ul>
        <li><a href="https://www.aplus-tsukuba.net/search/">公式サイト</a></li>
        <li><a href="https://twitter.com/aplus_tsukuba">Twitter</a></li>
        <li><a href="https://github.com/half-blue/A_plus_Tsukuba">GitHubリポジトリ</a></li>
        </ul>
        <p>
        筑波大学生限定の匿名学習支援SNS。講義や学群単位での匿名掲示板が特徴。
        </p>
    </div>
    <div id="itfvending" class="card m-2 column is-5">
        <h2 class="title">
        筑波大学 自販機 Map
        </h2>
        <ul>
        <li><a href="https://itf-vendingmachine.vercel.app/">公式サイト</a></li>
        <li><a href="https://github.com/eniehack/itf-vendingmachine">GitHubリポジトリ</a></li>
        </ul>
        <p>
        筑波大学の自動販売機の場所や決済手段、売られているものの情報をまとめられているサイトです。
        </p>
    </div>
    <div id="weego" class="card m-2 column is-5">
        <h2 class="title">
        ゆるぽSNS Weego
        </h2>
        <ul>
        <li><a href="https://weego.fun/">公式サイト</a></li>
        <li><a href="https://apps.apple.com/app/weego-fun-%E3%82%86%E3%82%8B%E3%81%BCsns-%E3%82%A6%E3%82%A3%E3%83%BC%E3%82%B4/id1588088704">AppStore</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.flutterflow.weego">Google Play</a></li>
        </ul>
        <p>
        予定募集SNS。サービス終了済み。
        </p>
    </div>
    <div id="ring" class="card m-2 column is-5">
        <h2 class="title">
        Ring
        </h2>
        <ul>
        <li><a href="https://apps.apple.com/app/ring-%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3%E3%81%A8%E7%B9%8B%E3%81%8C%E3%82%8B/id1588422998">AppStore</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.tsukuba.community">Google Play</a></li>
        </ul>
        <p>
        筑波大学のサークル活動について知ることができるアプリ。パソコンを使用している人には<a href="https://www.stb.tsukuba.ac.jp/~shinkan-web/">新歓Web</a>も役立つ。
        </p>
    </div>
    <div id="autoauth" class="card m-2 column is-5">
        <h2 class="title">
        筑波大学統一認証システム 自動ログイン拡張
        </h2>
        <ul>
        <li><a href="https://chrome.google.com/webstore/detail/bhppbaecnbeidnnaocecmlegjabdocnc">Chromeウェブストア</a></li>
        <li><a href="https://github.com/kichi2004/ut-auto-auth">GitHubリポジトリ</a></li>
        </ul>
        <p>
        UTIDを用いたログインを自動化するブラウザ拡張。大学側の要請により配布停止。
        </p>
    </div>
    <div id="gradegraph" class="card m-2 column is-5">
        <h2 class="title">
        Grade Graph
        </h2>
        <ul>
        <li><a href="https://mimori256.github.io/Grade-Graph/">Grade Graph</a></li>
        <li><a href="https://github.com/Mimori256/Grade-Graph">GitHubリポジトリ</a></li>
        </ul>
        <p>
        Twinsの成績データを可視化するサイト。
        </p>
    </div>
    <div id="awesome" class="card m-2 column is-5">
        <h2 class="title">
        Awesome Tsukuba
        </h2>
        <ul>
        <li><a href="https://make-it-tsukuba.github.io/awesome-tsukuba/">サイト</a></li>
        <li><a href="https://github.com/Make-IT-TSUKUBA/awesome-tsukuba">GitHubリポジトリ</a></li>
        </ul>
        <p>
        「筑波大学に関連する便利なツール・サイト・スマホアプリ」を紹介するサイト。PRも歓迎しているとのことなので、新たなサービスが生まれた場合はやりましょう。
        </p>
    </div>
</div>