<div id="applinks" class="m-2 content columns is-multiline is-centered">
    <div id="twinte" class="card m-2 column is-5">
        <h2 class="title">
        Twin:te
        </h2>
        <ul>
        <li><a href="https://www.twinte.net/">公式サイト</a></li>
        <li><a href="https://apps.apple.com/app/twin-te/id1489274755">AppStore</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=net.twinte.android">Google Play</a></li>
        </ul>
        <p>
        筑波大学生向けの時間割ソフト。Twinsからのインポート機能も。
        </p>
    </div>
    <div id="eritan" class="card m-2 column is-5">
        <h2 class="title">
        えりたんBOT
        </h2>
        <ul>
        <li><a href="https://eritanbot.net/">公式サイト</a></li>
        <li><a href="https://itunes.apple.com/app/eritanbot/id865364505">AppStore</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=net.eritanbot.android">Google Play</a></li>
        </ul>
        <p>
        広大なキャンパスの地図。キャンパス交通システムやTXの時刻表も。
        </p>
    </div>
    <div id="aplus" class="card m-2 column is-5">
        <h2 class="title">
        A+つくば
        </h2>
        <ul>
        <li><a href="https://www.aplus-tsukuba.net/search/">公式サイト</a></li>
        <li><a href="https://twitter.com/aplus_tsukuba">Twitter</a></li>
        <li><a href="https://github.com/half-blue/A_plus_Tsukuba">GitHubリポジトリ</a></li>
        </ul>
        <p>
        筑波大学生限定の匿名学習支援SNS。講義や学群単位での匿名掲示板が特徴。
        </p>
    </div>
    <div id="itfvending" class="card m-2 column is-5">
        <h2 class="title">
        筑波大学 自販機 Map
        </h2>
        <ul>
        <li><a href="https://itf-vendingmachine.vercel.app/">公式サイト</a></li>
        <li><a href="https://github.com/eniehack/itf-vendingmachine">GitHubリポジトリ</a></li>
        </ul>
        <p>
        筑波大学の自動販売機の場所や決済手段、売られているものの情報をまとめられているサイト。
        </p>
    </div>
    <div id="info" class="card m-2 column is-5">
        <h2 class="title">
        つくばInfo
        </h2>
        <ul>
        <li><a href="https://www.tsukuba-info.com/">公式サイト</a></li>
        </ul>
        <p>
        <a href="http://tsukuba-lc.com/">つくばローカルコミュニティ</a>の経営者が運営するローカル情報サイト。サービス終了した<a href="https://weego.fun/">Weego</a>とは雰囲気が異なる。
        </p>
    </div>
    <div id="shinkanweb" class="card m-2 column is-5">
        <h2 class="title">
        新歓Web
        </h2>
        <ul>
        <li><a href="https://www.stb.tsukuba.ac.jp/~shinkan-web/">公式サイト</a></li>
        </ul>
        <p>
        サークル等が行う新入生勧誘活動の情報が集まるサイト。サービス終了したRing（<a href="https://apps.apple.com/app/ring-%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3%E3%81%A8%E7%B9%8B%E3%81%8C%E3%82%8B/id1588422998">AppStore</a>・<a href="https://play.google.com/store/apps/details?id=com.tsukuba.community">Google Play</a>）と同様の情報が存在する。
        </p>
    </div>
    <div id="navikantotetsudo" class="card m-2 column is-5">
        <h2 class="title">
            新入生情報Web
        </h2>
        <ul>
            <li><a href="https://hello.zdk.tsukuba.ac.jp">公式サイト</a></li>
            <li><a href="https://github.com/ZDK-UTsukuba/hello2025-frontend">GitHubリポジトリ</a></li>
        </ul>
        <p>
            つくばで大学生活を始める新入生向けの情報が集まっているサイト。全代会が運営している。
        </p>
    </div>
    <div id="navikantotetsudo" class="card m-2 column is-5">
        <h2 class="title">
        関東鉄道 バス接近案内
        </h2>
        <ul>
        <li><a href="https://navi.kanto-tetsudo.com/">公式サイト</a></li>
        </ul>
        <p>
        関東鉄道バスの一部路線を走るバスの接近情報を調べられるサイト。筑波大学循環線も対応している。
        </p>
    </div>
    <div id="gradegraph" class="card m-2 column is-5">
        <h2 class="title">
        Grade Graph
        </h2>
        <ul>
        <li><a href="https://mimori256.github.io/Grade-Graph/">Grade Graph</a></li>
        <li><a href="https://github.com/Mimori256/Grade-Graph">GitHubリポジトリ</a></li>
        </ul>
        <p>
        Twinsの成績データを可視化するサイト。
        </p>
    </div>
    <div id="tsukubadev" class="card m-2 column is-5">
        <h2 class="title">
        tsukuba.dev
        </h2>
        <ul>
        <li><a href="https://www.tsukuba.dev/">公式サイト</a></li>
        <li><a href="https://github.com/until-tsukuba/www.tsukuba.dev">GitHubリポジトリ</a></li>
        </ul>
        <p>
        筑波大学の学生のために一定の条件を課してドメインを貸し出しているサイト。
        </p>
    </div>
    <div id="tsukubanavi" class="card m-2 column is-5">
        <h2 class="title">
            TSUKUBA NAVI
        </h2>
        <ul>
        <li><a href="https://tsukubanavi.studio.site/">公式サイト</a></li>
        </ul>
        <p>
        筑波大学に関連する情報をまとめた非公式のサイト。
        </p>
    </div>
    <div id="awesome" class="card m-2 column is-5">
        <h2 class="title">
        Awesome Tsukuba
        </h2>
        <ul>
        <li><a href="https://make-it-tsukuba.github.io/awesome-tsukuba/">サイト</a></li>
        <li><a href="https://github.com/Make-IT-TSUKUBA/awesome-tsukuba">GitHubリポジトリ</a></li>
        </ul>
        <p>
        「筑波大学に関連する便利なツール・サイト・スマホアプリ」を紹介するサイト。PRも歓迎しているとのことなので、新たなサービスが生まれた場合はやりましょう。
        </p>
    </div>
</div>