<div id="comlinks">
    <div class="fixed-grid is-gap-0 has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop has-4-cols-widescreen has-6-cols-fullhd">
        <div class="grid is-gap-0">
            <a class="py-6 cell office" href="https://www.office.com/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Office.com
                    </p>
                </div>
            </a>
            <a class="py-6 cell teams" href="https://teams.microsoft.com/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Teams (Web)
                    </p>
                </div>
            </a>
            <a class="py-6 cell deck" href="https://tweetdeck.twitter.com/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    TweetDeck
                    </p>
                </div>
            </a>
            <a class="py-6 cell tenkijp" href="https://tenki.jp/forecast/3/11/4020/8220/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    tenki.jp
                    </p>
                </div>
            </a>
            <a class="py-6 cell tsukubacity" href="https://www.city.tsukuba.lg.jp/">
                <div class="has-text-black-ter is-size-3 has-text-centered">
                    <p>
                    つくば市役所
                    </p>
                </div>
            </a>
            <a class="py-6 cell kyoshin" href="http://www.kmoni.bosai.go.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    強震モニタ
                    </p>
                </div>
            </a>
            <a class="py-6 cell cinii" href="https://cir.nii.ac.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    CiNii Research
                    </p>
                </div>
            </a>
            <a class="py-6 cell jstage" href="https://www.jstage.jst.go.jp/browse/-char/ja/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    J-STAGE
                    </p>
                </div>
            </a>
            <a class="py-6 cell wolfram" href="https://ja.wolframalpha.com/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Wolfram Alpha
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<script>

</script>

<style>
.office {
    background-color: #FE7948;
}
.teams {
    background-color: #444791;
}
.deck {
    background-color: #1c2938;
}
.tenkijp {
    background-color: #0061ca;
}
.tsukubacity {
    background-color: #e8f6ff;
}
.kyoshin {
    background-color: #FD8F00;
}
.cinii {
    background-color: #333333;
}
.jstage {
    background-color: #f01452;
}
.wolfram {
    background-color: #f96932;
}
</style>