<nav class="navbar has-background-primary">
    <a class="navbar-brand has-text-white" href="/">
      link-ITF
    </a>
    <a class="navbar-item has-text-white" href="/appli">
      アプリ
    </a>
    <a class="navbar-item has-text-white" href="/faq">
      FAQ
    </a>
    <a class="navbar-item has-text-white" href="/com">
      委員会等
    </a>
    <a class="navbar-item has-text-white" href="/life">
      生活関連リンク
    </a>
    <a class="navbar-item has-text-white" href="/tulipssearch">
      Tulips Search on 検索バー
    </a>
</nav>