<div id="toplinks">
    <div class="fixed-grid is-gap-0 has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop has-4-cols-widescreen has-6-cols-fullhd">
        <div class="grid is-gap-0">
            <a class="py-6 cell has-background-primary-dark" href="https://twins.tsukuba.ac.jp/campusweb/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Twins
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-info-dark" href="https://kdb.tsukuba.ac.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    本家KdB
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-success-dark" href="https://manaba.tsukuba.ac.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    manaba
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-primary" href="https://www.twinte.net/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Twin:te
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-info" href="https://make-it-tsukuba.github.io/alternative-tsukuba-kdb/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    KdBっぽいなにか
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-link" href="https://atmnb.tsukuba.ac.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    respon
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-grey-darker" href="https://www.tulips.tsukuba.ac.jp/lib/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Tulips
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-black-bis" href="https://www.sapec.tsukuba.ac.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    体育センター
                    </p>
                </div>
            </a>
            <a class="py-6 cell has-background-black-ter" href="https://www.u.tsukuba.ac.jp/">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    全学計算機
                    </p>
                </div>
            </a>
            <a class="py-6 cell twitter" href="https://twitter.com">
                <div class="has-text-white-ter is-size-3 has-text-centered">
                    <p>
                    Twitter
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
.twitter {
    background-color: #00acee;
}
</style>